<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandwish Maker</title>
    <link rel="stylesheet" type="text/css" href="style2.css">
    <link rel="icon" href="./hamburger.png">
    <script src="./index.js"></script>
</head>
<body>
    <header> 
        <h1> Sandwish Maker</h1>
        <h2>Real cooking is more about following your heart than following recipes.</h2>
    </header>
    <section >
        <div class="content">
            <h1 id="titre">Kitchen</h1>
            <div id="compart">
                <div class="element" id="top-bread">
                    <div class="">Top of bread 
                        <br />
                        <input type="checkbox" name="" id="check" onclick="ShowHide('tbd', 1)">
                    </div>
                </div>
                <div class="element" id="seeds">
                    <div class="">Seeds 
                        <br />
                        <input type="checkbox" name="" id="check" onclick="ShowHide('sd', 2)" >
                    </div>
                </div>
                <div class="element" id="salad">
                    <div class="">Salad
                        <br />
                        <input type="checkbox" name="" id="check" onclick="ShowHide('sld', 3)">
                    </div>
                </div>
                <div class="element" id="cheese">
                    <div class="">Cheese
                        <br />
                        <input type="checkbox" name="" id="check" onclick="ShowHide('ch', 4)">
                    </div>
                </div>
                <div class="element" id="saucisson">
                    <div class="">Saucisson 
                        <br />
                        <input type="checkbox" name="" id="check" onclick="ShowHide('sc', 5)">
                    </div>
                </div>
                <div class="element" id="meat">
                    <div class="">Meat 
                        <br />
                        <input type="checkbox" name="" id="check" onclick="ShowHide('mt', 6)">
                    </div>
                </div>
                <div class="element" id="sauce">
                    <div class="" >Sauce
                        <br />
                        <input type="checkbox" name="" id="check" onclick="ShowHide('sce', 7)">
                    </div>
                </div>
                <div class="element" id="bread">
                    <div class="">Bread 
                        <br />
                        <input type="checkbox" name="" id="check" onclick="ShowHide('bd', 8)" >
                    </div>
                </div>
            </div>
            <br><br>
            <div class="start"> Veuillez cocher les élèments que vous souhaitez ajouter à votre sandwish personnalisé</div>
             
        </div>
        <div class="result">
            <h1 id="titre">Result</h1>
            <div class="container">
                <div class="top-bread" id="tbd">
                    <div class="seeds" id="sd"></div>
                    <div class="seeds2" id="sd"></div>
                </div>
                <div class="salad" id="sld"></div>
                <div class="cheese" id="ch"></div>
                <div class="saucisson" id="sc"></div>
                <div class="meat" id="mt"></div>
                <div class="sauce" id="sce"></div>
                <div class="bread" id="bd"></div>
            </div>
        </div>
    </section>
    
</body>
</html>